!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      -if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #notice.message= flash[:warning]

      = yield
